body{
    margin: 0%;
}
nav {
    background-color: red;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
}
a {
    color: blueviolet;
    text-decoration: none;
}
nav a:first-child{
    color: beige;
}
nav a:nth-child(3){
    color: brown;
}